@page
@model IndexModel

@{
    ViewData["Title"] = "QManager";
    var tellerNumber = ViewData["TellerNumber"];
    var tokenNumberToBeServed = ViewData["TokenToServe"];
    var queue = Model._repository.ShowQueue();
    var next1 = ViewData["Next1"];
    var next2 = ViewData["Next2"];
    var next3 = ViewData["Next3"];
}


<table style="border:1px solid black; font-family:Arial; text-align:center; margin: 0 auto;">
    <tr>
        <td>
            <b>Teller 1</b>
        </td>
        <td>
            <b>Teller 2</b>
        </td>
        <td>
            <b>Teller 3</b>
        </td>
    </tr>
    <tr>
        <td>
            @if (queue.Count >= 0 && next1 is not null)
            {
                <input disabled class="form-control teller t1" placeholder="@next1" />
            }
            else if (next1 is null && queue.Count == 0)
            {
                <input disabled class="form-control teller t1" placeholder="No Customers..." />
            }
            else
            {
                <input disabled class="form-control teller t1" placeholder="Waiting..." />
            }
        </td>
        <td>
            @if (queue.Count >= 0 && next2 is not null)
            {
                <input disabled class="form-control teller t2" placeholder="@next2" />
            }
            else if (next2 is null && queue.Count == 0)
            {
                <input disabled class="form-control teller t2" placeholder="No Customers..." />
            }
            else
            {
                <input disabled class="form-control teller t2" placeholder="Waiting..." />
            }
        </td>
        <td>
            @if (queue.Count >= 0 && next3 is not null)
            {
                <input disabled class="form-control teller t3" placeholder="@next3" />
            }
            else if (next3 is null && queue.Count == 0)
            {
                <input disabled class="form-control teller t3" placeholder="No Customers..." />
            }
            else
            {
                <input disabled class="form-control teller t3" placeholder="Waiting..." />
            }
        </td>
    </tr>
    <tr>
        <form method="post" asp-page-handler="Teller1Click">
        <td>
            <button type="submit" class="btn btn-primary">Next</button>
        </td>
        </form>
        <form method="post" asp-page-handler="Teller2Click">
        <td>
            <button type="submit" class="btn btn-primary">Next</button>
        </td>
        </form>
        <form method="post" asp-page-handler="Teller3Click">
        <td>
            <button type="submit" class="btn btn-primary">Next</button>
        </td>
        </form>
    </tr>
    <tr>
        <td colspan="3">
            @if (tokenNumberToBeServed is null && next1 is null && next2 is null && next3 is null)
            {
                <input type="text" disabled class="form-control queue"
                   placeholder="Press the button below to print your token" />
            }
            else
            {
                <input type="text" disabled class="form-control queue"
                   placeholder="Token Number: @tokenNumberToBeServed Please go to Teller @tellerNumber" />

            }
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <textarea disabled style="width:110px; height:120px;">
                @foreach (var item in queue)
                {
                    @item
                    @Html.Raw("\n")
                }
            </textarea>
        </td>
    </tr>
    <tr>
        <form method="post" asp-page-handler="AddToQueue">
        <td colspan="3">
            <button type="submit" class="btn btn-info" style="width:110px">Print Token</button>
        </td>
        </form>
    </tr>
    <tr>
        <td colspan="3">
            @if (queue.Count() > 0)
            {
                <label id="lblCurrentStatus">There are @(@queue.Count() - 1) customers before you in a queue</label>
            }
            else
            {
                <label>No Cutomers in Queue</label>
            }
        </td>
    </tr>
</table>

